<a href="https://colab.research.google.com/github/sathvikaaa7/innHack/blob/main/innomaticsTask2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1. Unique Words in a sentence
s = input('Enter Sentence: ').split( )
set1 = set(s)
print("Unique Words count:",len(set1))
print("Unique Words:",set1)

Enter Sentence: python is easy and and powerful
Unique Words count: 5
Unique Words: {'easy', 'powerful', 'python', 'is', 'and'}

In [9]:
#2 Highest Salary from Employee Data
employeeDict = {"Ravi":70000, "Lekha":77000, "Rupa":58000}
max = 0

for key, value in employeeDict.items():
  if value > max:
    max = value
    emp = key
print(f"Highest Salary:{emp}:{max}")

Highest Salary:Lekha:77000

In [13]:
#3. Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]

minimum = numbers[0]
maximum = numbers[0]

for num in numbers:
    if num < minimum:
        minimum = num
    if num > maximum:
        maximum = num

print("List:",numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [14]:
#4. Count Products Above a Price Threshold

prices = [450, 1200, 899, 1500, 300]
count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [15]:
#5.Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for status in attendance:
    if status == "P":
        present_count += 1

total_days = len(attendance)
attendance_percentage = (present_count / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

In [16]:
#6. Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [17]:
#7. Count Character Frequency

text = "pythonpp"
char_count = {}

for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

print(char_count)

{'p': 3, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [18]:
#8. Convert List to Tuple

numbers = [10, 20, 30]

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [20]:
#9. Check if a Key Exists in a Dictionary
employees = {
    "Employee": "xyz",
    "Role": "intern",
    "Department": "Ai"
}

if "Employee" in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [21]:
#10. Calculate Average Marks
marks = [70, 75, 80, 65]

total = sum(marks)
count = len(marks)

average = total / count

print("Average Marks:", average)

Average Marks: 72.5